<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title float-left">Manage Users</h4>
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Admin</a></li>
                        <li class="breadcrumb-item active">View</li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="text-center card-box">
                    <div class="clearfix"></div>
                    <div class="member-card">
                        <div class="thumb-xl member-thumb m-b-10 mx-auto">
                            <img src="<%= vendor.image %>" class="rounded-circle img-thumbnail" alt="profile-image">
                            <i class="mdi mdi-star-circle member-star text-success" title="verified user"></i>
                        </div>
                        <div class="">
                            <h4 class="m-b-5 font-18"><%= vendor?.first_name || '' %> <%= vendor?.last_name || '' %></h4>
                            <p class="text-muted m-b-0"><span class="text-pink"> <%= vendor?.email || '' %> </span> </p>
                            <p class="text-muted"> <%= vendor?.country_code +' '+ vendor?.mobile_no || '' %> </p>
                        </div>
                        <p class="text-muted font-13"> <%= vendor?.city || '' %>, <%= vendor?.state || '' %>, <%= vendor?.country || '' %> </p>
                    </div>
                </div>
                <div class="text-center card-box">
                    <div class="clearfix"></div>
                    <div class="member-card">
                        <h4 class="header-title m-b-20">Booking Amount</h4>
                        <div>
                            <h5 class="text-custom m-b-5"><span class="text-muted">Total Amount:</span> 0 (INR)</h5>
                            <h5 class="text-custom m-b-5"><span class="text-muted">Total Outstanding Amount:</span> 0 (INR)</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-box">
                    <h4 class="header-title mt-0 m-b-20">Details</h4>
                    <div class="">
                        <div class="">
                            <h5 class="text-custom m-b-5"><span class="text-muted">Gender:</span> <%= vendor?.gender || '' %> </h5>
                            <h5 class="text-custom m-b-5"><span class="text-muted">Date of Birth:</span> <%= moment(vendor?.dob).format('DD-MM-YYYY') || '' %> </h5>
                            <h5 class="text-custom m-b-5"><span class="text-muted">Address:</span> <span class="font-13 m-b-0"> <%= vendor?.address || '' %> </span></h5>
                            <h5 class="text-custom m-b-5"><span class="text-muted">Pin Code:</span> <span class="font-13 m-b-0"> <%= vendor?.pin_code || '' %> </span></h5>
                            <h5 class="text-custom m-b-5"><span class="text-muted">Landmark:</span> <span class="font-13 m-b-0"> <%= vendor?.landmark || '' %> </span></h5>
                        </div>
                    </div>
                    <h4 class="header-title mt-4 m-b-20">Vendor Business Details</h4>
                    <div class="">
                        <div class="">
                            <h5 class="text-custom m-b-5"><span class="text-muted">Business Name:</span> <%= vendor?.vendor_business_detail?.business_name || '' %> </h5>
                            <h5 class="text-custom m-b-5"><span class="text-muted">Aletrnate Mobile:</span> <%= vendor?.vendor_business_detail?.aletrnate_country_code +' '+ vendor?.vendor_business_detail.aletrnate_mobile_no || '' %> </h5>
                            <h5 class="text-custom m-b-5"><span class="text-muted">Category:</span> <span class="font-13 m-b-0"> <%= vendor?.vendor_business_detail?.category?.title || '' %> </span></h5>
                            <h5 class="text-custom m-b-5"><span class="text-muted">Location:</span> <span class="font-13 m-b-0"> <%= vendor?.vendor_business_detail?.location || '' %> </span></h5>
                            <h5 class="text-custom m-b-5"><span class="text-muted">GST Number:</span> <span class="font-13 m-b-0"> <%= vendor?.vendor_business_detail?.gst_no || '' %> </span></h5>
                            <h5 class="text-custom m-b-5"><span class="text-muted">Description:</span> <span class="font-13 m-b-0"> <%= vendor?.vendor_business_detail?.description || '' %> </span></h5>
                            <h5 class="text-custom m-b-5"><span class="text-muted">Do you have visiting card ?:</span> <span class="font-13 m-b-0"> <%= vendor?.vendor_business_detail?.is_visiting_card == '1' ? 'Yes' : 'No' %> %> </span></h5>

                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-center mt-3">
                                <%if (typeof vendor != 'undefined' && typeof vendor.vendor_business_detail.visiting_card_image != 'undefined') { %>
                                    <div class="viewPic">
                                    <img src="<%= vendor.vendor_business_detail.visiting_card_image %>">
                                    </div>
                                    <label>Visiting Card</label>
                        
                                <% } %>
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-center mt-3">
                                <%if (typeof vendor != 'undefined' && typeof vendor.vendor_business_detail.award_certification_image != 'undefined') { %>
                                    <div class="viewPic">
                                        <img src="<%= vendor.vendor_business_detail.award_certification_image %>">
                                    </div>
                                    
                                    <label>Award & Certifications</label>
                        
                                <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
